In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [73]:
df_data = pd.read_csv('data.csv')
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89010 entries, 0 to 89009
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    89010 non-null  object
 1   Country Code    89010 non-null  object
 2   Indicator Name  89010 non-null  object
 3   Indicator Code  89010 non-null  object
 4   1960            35482 non-null  float64
 5   1961            35325 non-null  float64
 6   1962            35889 non-null  float64
 7   1963            35452 non-null  float64
 8   1964            35483 non-null  float64
 9   1965            35603 non-null  float64
 10  1966            35538 non-null  float64
 11  1967            36022 non-null  float64
 12  1968            35577 non-null  float64
 13  1969            35630 non-null  float64
 14  1970            36910 non-null  float64
 15  1971            37578 non-null  float64
 16  1972            38015 non-null  float64
 17  1973            37542 non-null  float64
 18  1974            37574 non-null  float64
 19  1975            37760 non-null  float64
 20  1976            37778 non-null  float64
 21  1977            38204 non-null  float64
 22  1978            37797 non-null  float64
 23  1979            37848 non-null  float64
 24  1980            38578 non-null  float64
 25  1981            38829 non-null  float64
 26  1982            39182 non-null  float64
 27  1983            38772 non-null  float64
 28  1984            38964 non-null  float64
 29  1985            39020 non-null  float64
 30  1986            39367 non-null  float64
 31  1987            39832 non-null  float64
 32  1988            39166 non-null  float64
 33  1989            39282 non-null  float64
 34  1990            47722 non-null  float64
 35  1991            47231 non-null  float64
 36  1992            47923 non-null  float64
 37  1993            47398 non-null  float64
 38  1994            47678 non-null  float64
 39  1995            51326 non-null  float64
 40  1996            51386 non-null  float64
 41  1997            51560 non-null  float64
 42  1998            51404 non-null  float64
 43  1999            52442 non-null  float64
 44  2000            56672 non-null  float64
 45  2001            52924 non-null  float64
 46  2002            53536 non-null  float64
 47  2003            53013 non-null  float64
 48  2004            53417 non-null  float64
 49  2005            54304 non-null  float64
 50  2006            54398 non-null  float64
 51  2007            54255 non-null  float64
 52  2008            53878 non-null  float64
 53  2009            54437 non-null  float64
 54  2010            57099 non-null  float64
 55  2011            54922 non-null  float64
 56  2012            54927 non-null  float64
 57  2013            52924 non-null  float64
 58  2014            52199 non-null  float64
 59  2015            43068 non-null  float64
 60  Unnamed: 60     0 non-null      float64
dtypes: float64(57), object(4)
memory usage: 41.4+ MB

In [74]:
df_data['Country Name'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 89010 entries, 0 to 89009
Series name: Country Name
Non-Null Count  Dtype
--------------  -----
89010 non-null  object
dtypes: object(1)
memory usage: 695.5+ KB

The next line filters the data to only show EAS.

In [83]:
df_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', 'Unnamed: 60'],
      dtype='object')

In [105]:
df_data['Indicator Name'].unique()

array(['% of females ages 15-49 having comprehensive correct knowledge about HIV (2 prevent ways and reject 3 misconceptions)',
       '% of males ages 15-49 having comprehensive correct knowledge about HIV (2 prevent ways and reject 3 misconceptions)',
       'Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Adults (ages 15+) and children (0-14 years) living with HIV',
       'Adults (ages 15+) and children (ages 0-14) newly infected with HIV',
       'Adults (ages 15+) living with HIV',
       'Adults (ages 15+) newly infected with HIV',
       'Age at first marriage, female', 'Age at first marriage, male',
       'Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old', 'Age dependency ratio, young',
       'Age population, age 0, female, interpolated',
       'Age population, age 0, male, interpolated',
       'Age population, age 01, female, interpolated',
       'Age population, age 01, male, interpolated',
       'Age population, age 02, female, interpolated',
       'Age population, age 02, male, interpolated',
       'Age population, age 03, female, interpolated',
       'Age population, age 03, male, interpolated',
       'Age population, age 04, female, interpolated',
       'Age population, age 04, male, interpolated',
       'Age population, age 05, female, interpolated',
       'Age population, age 05, male, interpolated',
       'Age population, age 06, female, interpolated',
       'Age population, age 06, male, interpolated',
       'Age population, age 07, female, interpolated',
       'Age population, age 07, male, interpolated',
       'Age population, age 08, female, interpolated',
       'Age population, age 08, male, interpolated',
       'Age population, age 09, female, interpolated',
       'Age population, age 09, male, interpolated',
       'Age population, age 10, female, interpolated',
       'Age population, age 10, male, interpolated',
       'Age population, age 11, female, interpolated',
       'Age population, age 11, male, interpolated',
       'Age population, age 12, female, interpolated',
       'Age population, age 12, male, interpolated',
       'Age population, age 13, female, interpolated',
       'Age population, age 13, male, interpolated',
       'Age population, age 14, female, interpolated',
       'Age population, age 14, male, interpolated',
       'Age population, age 15, female, interpolated',
       'Age population, age 15, male, interpolated',
       'Age population, age 16, female, interpolated',
       'Age population, age 16, male, interpolated',
       'Age population, age 17, female, interpolated',
       'Age population, age 17, male, interpolated',
       'Age population, age 18, female, interpolated',
       'Age population, age 18, male, interpolated',
       'Age population, age 19, female, interpolated',
       'Age population, age 19, male, interpolated',
       'Age population, age 20, female, interpolated',
       'Age population, age 20, male, interpolated',
       'Age population, age 21, female, interpolated',
       'Age population, age 21, male, interpolated',
       'Age population, age 22, female, interpolated',
       'Age population, age 22, male, interpolated',
       'Age population, age 23, female, interpolated',
       'Age population, age 23, male, interpolated',
       'Age population, age 24, female, interpolated',
       'Age population, age 24, male, interpolated',
       'Age population, age 25, female, interpolated',
       'Age population, age 25, male, interpolated',
       'AIDS estimated deaths (UNAIDS estimates)',
       'Antiretroviral therapy coverage (% of people living with HIV)',
       'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)',
       'ARI treatment (% of children under 5 taken to a health provider)',
       'Birth rate, crude (per 1,000 people)',
       'Births attended by skilled health staff (% of total)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Cause of death, by injury (% of total)',
       'Cause of death, by non-communicable diseases (% of total)',
       'Children (0-14) living with HIV',
       'Children (ages 0-14) newly infected with HIV',
       'Children orphaned by HIV/AIDS',
       'Children with fever receiving antimalarial drugs (% of children under age 5 with fever)',
       'Community health workers (per 1,000 people)',
       'Completeness of birth registration (%)',
       'Completeness of birth registration, rural (%)',
       'Completeness of birth registration, urban (%)',
       'Completeness of death registration with cause-of-death information (%)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)',
       'Condom use with non regular partner, % adults(15-49), female',
       'Condom use with non regular partner, % adults(15-49), male',
       'Condom use, population ages 15-24, female (% of females ages 15-24)',
       'Condom use, population ages 15-24, male (% of males ages 15-24)',
       'Consumption of iodized salt (% of households)',
       'Contraceptive prevalence, any methods (% of women ages 15-49)',
       'Contraceptive prevalence, modern methods (% of women ages 15-49)',
       'Death rate, crude (per 1,000 people)',
       'Demand for family planning satisfied by any methods (% of married women with demand for family planning)',
       'Demand for family planning satisfied by modern methods (% of married women with demand for family planning)',
       'Diabetes prevalence (% of population ages 20 to 79)',
       'Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)',
       'Diarrhea treatment (% of children under 5 who received ORS packet)',
       'Exclusive breastfeeding (% of children under 6 months)',
       'External resources for health (% of total expenditure on health)',
       'Female headed households (% of households with a female head)',
       'Female population 00-04', 'Female population 05-09',
       'Female population 10-14', 'Female population 15-19',
       'Female population 20-24', 'Female population 25-29',
       'Female population 30-34', 'Female population 35-39',
       'Female population 40-44', 'Female population 45-49',
       'Female population 50-54', 'Female population 55-59',
       'Female population 60-64', 'Female population 65-69',
       'Female population 70-74', 'Female population 75-79',
       'Female population 80+',
       'Fertility rate, total (births per woman)',
       'GNI per capita, Atlas method (current US$)',
       'Health expenditure per capita (current US$)',
       'Health expenditure per capita, PPP',
       'Health expenditure, private (% of GDP)',
       'Health expenditure, private (% of total health expenditure)',
       'Health expenditure, public (% of GDP)',
       'Health expenditure, public (% of government expenditure)',
       'Health expenditure, public (% of total health expenditure)',
       'Health expenditure, total (% of GDP)',
       'Health expenditure, total (current US$)',
       'Hospital beds (per 1,000 people)',
       'Immunization, BCG (% of one-year-old children)',
       'Immunization, DPT (% of children ages 12-23 months)',
       'Immunization, HepB3 (% of one-year-old children)',
       'Immunization, Hib3 (% of children ages 12-23 months)',
       'Immunization, measles (% of children ages 12-23 months)',
       'Immunization, Pol3 (% of one-year-old children)',
       'Improved sanitation facilities (% of population with access)',
       'Improved sanitation facilities, rural (% of rural population with access)',
       'Improved sanitation facilities, urban (% of urban population with access)',
       'Improved water source (% of population with access)',
       'Improved water source, rural (% of rural population with access)',
       'Improved water source, urban (% of urban population with access)',
       'Incidence of HIV (% of uninfected population ages 15-49)',
       'Incidence of tuberculosis (per 100,000 people)',
       'Infant and young child feeding practices, all 3 IYCF (% children ages 6-23 months)',
       'Labor force, female (% of total labor force)',
       'Labor force, total', 'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Life expectancy at birth, total (years)',
       'Lifetime risk of maternal death (%)',
       'Lifetime risk of maternal death (1 in: rate varies by country)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Literacy rate, adult male (% of males ages 15 and above)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Literacy rate, youth male (% of males ages 15-24)',
       'Literacy rate, youth total (% of people ages 15-24)',
       'Low-birthweight babies (% of births)', 'Malaria cases reported',
       'Male population 00-04', 'Male population 05-09',
       'Male population 10-14', 'Male population 15-19',
       'Male population 20-24', 'Male population 25-29',
       'Male population 30-34', 'Male population 35-39',
       'Male population 40-44', 'Male population 45-49',
       'Male population 50-54', 'Male population 55-59',
       'Male population 60-64', 'Male population 65-69',
       'Male population 70-74', 'Male population 75-79',
       'Male population 80+',
       'Malnutrition prevalence, height for age (% of children under 5)',
       'Malnutrition prevalence, height for age, female (% of children under 5)',
       'Malnutrition prevalence, height for age, male (% of children under 5)',
       'Malnutrition prevalence, weight for age (% of children under 5)',
       'Malnutrition prevalence, weight for age, female (% of children under 5)',
       'Malnutrition prevalence, weight for age, male (% of children under 5)',
       'Maternal leave benefits (% of wages paid in covered period)',
       'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
       'Maternal mortality ratio (national estimate, per 100,000 live births)',
       'Mortality caused by road traffic injury (per 100,000 people)',
       'Mortality rate, adult, female (per 1,000 female adults)',
       'Mortality rate, adult, male (per 1,000 male adults)',
       'Mortality rate, infant (per 1,000 live births)',
       'Mortality rate, infant, female (per 1,000 live births)',
       'Mortality rate, infant, male (per 1,000 live births)',
       'Mortality rate, neonatal (per 1,000 live births)',
       'Mortality rate, under-5 (per 1,000)',
       'Mortality rate, under-5, female (per 1,000)',
       'Mortality rate, under-5, male (per 1,000)', 'Net migration',
       'Newborns protected against tetanus (%)',
       'Number of infant deaths', 'Number of maternal deaths',
       'Number of neonatal deaths',
       'Number of people who are undernourished',
       'Number of surgical procedures (per 100,000 population)',
       'Number of under-five deaths',
       'Number of weeks of maternity leave',
       'Nurses and midwives (per 1,000 people)',
       'Out-of-pocket health expenditure (% of private expenditure on health)',
       'Out-of-pocket health expenditure (% of total expenditure on health)',
       'People practicing open defecation (% of population)',
       'People practicing open defecation, rural (% of rural population)',
       'People practicing open defecation, urban (% of urban population)',
       'Physicians (per 1,000 people)',
       'Population ages 00-04, female (% of female population)',
       'Population ages 00-04, male (% of male population)',
       'Population ages 00-14 (% of total)',
       'Population ages 00-14, female (% of total)',
       'Population ages 00-14, male (% of total)',
       'Population ages 00-14, total', 'Population ages 0-14, female',
       'Population ages 0-14, male',
       'Population ages 05-09, female (% of female population)',
       'Population ages 05-09, male (% of male population)',
       'Population ages 10-14, female (% of female population)',
       'Population ages 15-19, female (% of female population)',
       'Population ages 15-19, male (% of male population)',
       'Population ages 15-64 (% of total)',
       'Population ages 15-64, female',
       'Population ages 15-64, female (% of total)',
       'Population ages 15-64, male',
       'Population ages 15-64, male (% of total)',
       'Population ages 15-64, total',
       'Population ages 20-24, female (% of female population)',
       'Population ages 20-24, male (% of male population)',
       'Population ages 25-29, female (% of female population)',
       'Population ages 25-29, male (% of male population)',
       'Population ages 30-34, female (% of female population)',
       'Population ages 30-34, male (% of male population)',
       'Population ages 35-39, female (% of female population)',
       'Population ages 35-39, male (% of male population)',
       'Population ages 40-44, female (% of female population)',
       'Population ages 40-44, male (% of male population)',
       'Population ages 45-49, female (% of female population)',
       'Population ages 45-49, male (% of male population)',
       'Population ages 50-54, female (% of female population)',
       'Population ages 50-54, male (% of male population)',
       'Population ages 55-59, female (% of female population)',
       'Population ages 55-59, male (% of male population)',
       'Population ages 60-64, female (% of female population)',
       'Population ages 60-64, male (% of male population)',
       'Population ages 65 and above (% of total)',
       'Population ages 65 and above, female',
       'Population ages 65 and above, female (% of total)',
       'Population ages 65 and above, male',
       'Population ages 65 and above, male (% of total)',
       'Population ages 65 and above, total',
       'Population ages 65-69, female (% of female population)',
       'Population ages 65-69, male (% of male population)',
       'Population ages 70-74, female (% of female population)',
       'Population ages 70-74, male (% of male population)',
       'Population ages 75-79, female (% of female population)',
       'Population ages 75-79, male (% of male population)',
       'Population ages 80 and older, female (% of female population)',
       'Population ages 80 and older, male (% of male population)',
       'Population ages10-14, male (% of male population)',
       'Population growth (annual %)', 'Population, female',
       'Population, female (% of total)', 'Population, male',
       'Population, male (% of total)', 'Population, total',
       'Postnatal care coverage (% mothers)',
       'Poverty headcount ratio at national poverty line (% of population)',
       'Pregnant women receiving prenatal care (%)',
       'Pregnant women receiving prenatal care of at least four visits (% of pregnant women)',
       'Prevalence of anemia among children (% of children under 5)',
       'Prevalence of anemia among non-pregnant women (% of women ages 15-49)',
       'Prevalence of anemia among pregnant women (%)',
       'Prevalence of anemia among women of reproductive age (% of women ages 15-49)',
       'Prevalence of HIV, female (% ages 15-24)',
       'Prevalence of HIV, male (% ages 15-24)',
       'Prevalence of HIV, total (% of population ages 15-49)',
       'Prevalence of overweight (% of adults)',
       'Prevalence of overweight (% of children under 5)',
       'Prevalence of overweight, female (% of children under 5)',
       'Prevalence of overweight, female (% of female adults)',
       'Prevalence of overweight, male (% of children under 5)',
       'Prevalence of overweight, male (% of male adults)',
       'Prevalence of severe wasting, weight for height (% of children under 5)',
       'Prevalence of severe wasting, weight for height, female (% of children under 5)',
       'Prevalence of severe wasting, weight for height, male (% of children under 5)',
       'Prevalence of syphilis (% of women attending antenatal care)',
       'Prevalence of tuberculosis (per 100,000 population)',
       'Prevalence of undernourishment (% of population)',
       'Prevalence of wasting (% of children under 5)',
       'Prevalence of wasting, female (% of children under 5)',
       'Prevalence of wasting, male (% of children under 5)',
       'Primary completion rate, female (% of relevant age group)',
       'Primary completion rate, male (% of relevant age group)',
       'Primary completion rate, total (% of relevant age group)',
       'Public spending on education, total (% of GDP)',
       'Ratio of school attendance of orphans to school attendance of non-orphans ages 10-14',
       'Ratio of young literate females to males (% ages 15-24)',
       'Risk of catastrophic expenditure for surgical care (% of people at risk)',
       'Risk of impoverishing expenditure for surgical care (% of people at risk)',
       'Rural population', 'Rural population (% of total population)',
       'Rural population growth (annual %)',
       'Rural poverty headcount ratio at national poverty lines (% of rural population)',
       'School enrollment, primary (% gross)',
       'School enrollment, primary (% net)',
       'School enrollment, primary, female (% gross)',
       'School enrollment, primary, female (% net)',
       'School enrollment, primary, male (% gross)',
       'School enrollment, primary, male (% net)',
       'School enrollment, secondary (% gross)',
       'School enrollment, secondary (% net)',
       'School enrollment, secondary, female (% gross)',
       'School enrollment, secondary, female (% net)',
       'School enrollment, secondary, male (% gross)',
       'School enrollment, secondary, male (% net)',
       'School enrollment, tertiary (% gross)',
       'School enrollment, tertiary, female (% gross)',
       'Sex ratio at birth (male births per female births)',
       'Share of women employed in the nonagricultural sector (% of total nonagricultural employment)',
       'Smoking prevalence, females (% of adults)',
       'Smoking prevalence, males (% of adults)',
       'Specialist surgical workforce (per 100,000 population)',
       'Survival to age 65, female (% of cohort)',
       'Survival to age 65, male (% of cohort)',
       'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)',
       'Tuberculosis case detection rate (all forms)',
       'Tuberculosis death rate (per 100,000 people)',
       'Tuberculosis treatment success rate (% of new cases)',
       'Unemployment, female (% of female labor force)',
       'Unemployment, male (% of male labor force)',
       'Unemployment, total (% of total labor force)',
       'Unmet need for contraception (% of married women ages 15-49)',
       'Urban population', 'Urban population (% of total)',
       'Urban population growth (annual %)',
       'Urban poverty headcount ratio at national poverty lines (% of urban population)',
       'Use of any antimalarial drug (% of pregnant women)',
       'Use of insecticide-treated bed nets (% of under-5 population)',
       'Use of Intermittent Preventive Treatment of malaria, 2+ doses of SP/Fansidar (% of pregnant women)',
       'Vitamin A supplementation coverage rate (% of children ages 6-59 months)',
       'Wanted fertility rate (births per woman)',
       "Women's share of population ages 15+ living with HIV (%)"],
      dtype=object)

In [116]:
fertility_rate = df_data[df_data['Indicator Name'].str.contains("Fertility rate, total (births per woman)")]
fertility_rate.describe()

/var/folders/hz/sg34vg_92b77c_hdxw3wkl400000gn/T/ipykernel_25007/2410086959.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  fertility_rate = df_data[df_data['Indicator Name'].str.contains("Fertility rate, total (births per woman)")]

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
empty_columns = df_data[['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967']]
df_cleaned = df_data.dropna(subset=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015'])

In [95]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32393 entries, 9 to 89002
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    32393 non-null  object
 1   Country Code    32393 non-null  object
 2   Indicator Name  32393 non-null  object
 3   Indicator Code  32393 non-null  object
 4   1960            32393 non-null  float64
 5   1961            32393 non-null  float64
 6   1962            32393 non-null  float64
 7   1963            32393 non-null  float64
 8   1964            32393 non-null  float64
 9   1965            32393 non-null  float64
 10  1966            32393 non-null  float64
 11  1967            32393 non-null  float64
 12  1968            32393 non-null  float64
 13  1969            32393 non-null  float64
 14  1970            32393 non-null  float64
 15  1971            32393 non-null  float64
 16  1972            32393 non-null  float64
 17  1973            32393 non-null  float64
 18  1974            32393 non-null  float64
 19  1975            32393 non-null  float64
 20  1976            32393 non-null  float64
 21  1977            32393 non-null  float64
 22  1978            32393 non-null  float64
 23  1979            32393 non-null  float64
 24  1980            32393 non-null  float64
 25  1981            32393 non-null  float64
 26  1982            32393 non-null  float64
 27  1983            32393 non-null  float64
 28  1984            32393 non-null  float64
 29  1985            32393 non-null  float64
 30  1986            32393 non-null  float64
 31  1987            32393 non-null  float64
 32  1988            32393 non-null  float64
 33  1989            32393 non-null  float64
 34  1990            32393 non-null  float64
 35  1991            32393 non-null  float64
 36  1992            32393 non-null  float64
 37  1993            32393 non-null  float64
 38  1994            32393 non-null  float64
 39  1995            32393 non-null  float64
 40  1996            32393 non-null  float64
 41  1997            32393 non-null  float64
 42  1998            32393 non-null  float64
 43  1999            32393 non-null  float64
 44  2000            32393 non-null  float64
 45  2001            32393 non-null  float64
 46  2002            32393 non-null  float64
 47  2003            32393 non-null  float64
 48  2004            32393 non-null  float64
 49  2005            32393 non-null  float64
 50  2006            32393 non-null  float64
 51  2007            32393 non-null  float64
 52  2008            32393 non-null  float64
 53  2009            32393 non-null  float64
 54  2010            32393 non-null  float64
 55  2011            32393 non-null  float64
 56  2012            32393 non-null  float64
 57  2013            32393 non-null  float64
 58  2014            32393 non-null  float64
 59  2015            32393 non-null  float64
 60  Unnamed: 60     0 non-null      float64
dtypes: float64(57), object(4)
memory usage: 15.3+ MB

In [104]:
df_cleaned['Indicator Name'].unique()

array(['Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old', 'Age dependency ratio, young',
       'Female population 00-04', 'Female population 05-09',
       'Female population 10-14', 'Female population 15-19',
       'Female population 20-24', 'Female population 25-29',
       'Female population 30-34', 'Female population 35-39',
       'Female population 40-44', 'Female population 45-49',
       'Female population 50-54', 'Female population 55-59',
       'Female population 60-64', 'Female population 65-69',
       'Female population 70-74', 'Female population 75-79',
       'Female population 80+', 'Male population 00-04',
       'Male population 05-09', 'Male population 10-14',
       'Male population 15-19', 'Male population 20-24',
       'Male population 25-29', 'Male population 30-34',
       'Male population 35-39', 'Male population 40-44',
       'Male population 45-49', 'Male population 50-54',
       'Male population 55-59', 'Male population 60-64',
       'Male population 65-69', 'Male population 70-74',
       'Male population 75-79', 'Male population 80+',
       'Mortality rate, infant (per 1,000 live births)',
       'Mortality rate, under-5 (per 1,000)',
       'Population ages 00-14 (% of total)',
       'Population ages 00-14, female (% of total)',
       'Population ages 00-14, male (% of total)',
       'Population ages 00-14, total', 'Population ages 0-14, female',
       'Population ages 0-14, male', 'Population ages 15-64 (% of total)',
       'Population ages 15-64, female',
       'Population ages 15-64, female (% of total)',
       'Population ages 15-64, male',
       'Population ages 15-64, male (% of total)',
       'Population ages 15-64, total',
       'Population ages 65 and above (% of total)',
       'Population ages 65 and above, female',
       'Population ages 65 and above, female (% of total)',
       'Population ages 65 and above, male',
       'Population ages 65 and above, male (% of total)',
       'Population ages 65 and above, total', 'Population, female',
       'Population, female (% of total)', 'Population, male',
       'Population, male (% of total)', 'Population, total',
       'Rural population', 'Rural population (% of total population)',
       'Urban population', 'Urban population (% of total)',
       'Number of infant deaths', 'Number of under-five deaths',
       'Age population, age 0, female, interpolated',
       'Age population, age 0, male, interpolated',
       'Age population, age 01, female, interpolated',
       'Age population, age 01, male, interpolated',
       'Age population, age 02, female, interpolated',
       'Age population, age 02, male, interpolated',
       'Age population, age 03, female, interpolated',
       'Age population, age 03, male, interpolated',
       'Age population, age 04, female, interpolated',
       'Age population, age 04, male, interpolated',
       'Age population, age 05, female, interpolated',
       'Age population, age 05, male, interpolated',
       'Age population, age 06, female, interpolated',
       'Age population, age 06, male, interpolated',
       'Age population, age 07, female, interpolated',
       'Age population, age 07, male, interpolated',
       'Age population, age 08, female, interpolated',
       'Age population, age 08, male, interpolated',
       'Age population, age 09, female, interpolated',
       'Age population, age 09, male, interpolated',
       'Age population, age 10, female, interpolated',
       'Age population, age 10, male, interpolated',
       'Age population, age 11, female, interpolated',
       'Age population, age 11, male, interpolated',
       'Age population, age 12, female, interpolated',
       'Age population, age 12, male, interpolated',
       'Age population, age 13, female, interpolated',
       'Age population, age 13, male, interpolated',
       'Age population, age 14, female, interpolated',
       'Age population, age 14, male, interpolated',
       'Age population, age 15, female, interpolated',
       'Age population, age 15, male, interpolated',
       'Age population, age 16, female, interpolated',
       'Age population, age 16, male, interpolated',
       'Age population, age 17, female, interpolated',
       'Age population, age 17, male, interpolated',
       'Age population, age 18, female, interpolated',
       'Age population, age 18, male, interpolated',
       'Age population, age 19, female, interpolated',
       'Age population, age 19, male, interpolated',
       'Age population, age 20, female, interpolated',
       'Age population, age 20, male, interpolated',
       'Age population, age 21, female, interpolated',
       'Age population, age 21, male, interpolated',
       'Age population, age 22, female, interpolated',
       'Age population, age 22, male, interpolated',
       'Age population, age 23, female, interpolated',
       'Age population, age 23, male, interpolated',
       'Age population, age 24, female, interpolated',
       'Age population, age 24, male, interpolated',
       'Age population, age 25, female, interpolated',
       'Age population, age 25, male, interpolated',
       'Population ages 00-04, female (% of female population)',
       'Population ages 00-04, male (% of male population)',
       'Population ages 05-09, female (% of female population)',
       'Population ages 05-09, male (% of male population)',
       'Population ages 10-14, female (% of female population)',
       'Population ages 15-19, female (% of female population)',
       'Population ages 15-19, male (% of male population)',
       'Population ages 20-24, female (% of female population)',
       'Population ages 20-24, male (% of male population)',
       'Population ages 25-29, female (% of female population)',
       'Population ages 25-29, male (% of male population)',
       'Population ages 30-34, female (% of female population)',
       'Population ages 30-34, male (% of male population)',
       'Population ages 35-39, female (% of female population)',
       'Population ages 35-39, male (% of male population)',
       'Population ages 40-44, female (% of female population)',
       'Population ages 40-44, male (% of male population)',
       'Population ages 45-49, female (% of female population)',
       'Population ages 45-49, male (% of male population)',
       'Population ages 50-54, female (% of female population)',
       'Population ages 50-54, male (% of male population)',
       'Population ages 55-59, female (% of female population)',
       'Population ages 55-59, male (% of male population)',
       'Population ages 60-64, female (% of female population)',
       'Population ages 60-64, male (% of male population)',
       'Population ages 65-69, female (% of female population)',
       'Population ages 65-69, male (% of male population)',
       'Population ages 70-74, female (% of female population)',
       'Population ages 70-74, male (% of male population)',
       'Population ages 75-79, female (% of female population)',
       'Population ages 75-79, male (% of male population)',
       'Population ages 80 and older, female (% of female population)',
       'Population ages 80 and older, male (% of male population)',
       'Population ages10-14, male (% of male population)',
       'Population growth (annual %)',
       'Rural population growth (annual %)',
       'Urban population growth (annual %)'], dtype=object)

In [118]:
df_france = df_data[df_data['Country Name'].str.contains('France')]
df_france['Indicator Name'].unique()

array(['% of females ages 15-49 having comprehensive correct knowledge about HIV (2 prevent ways and reject 3 misconceptions)',
       '% of males ages 15-49 having comprehensive correct knowledge about HIV (2 prevent ways and reject 3 misconceptions)',
       'Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Adults (ages 15+) and children (0-14 years) living with HIV',
       'Adults (ages 15+) and children (ages 0-14) newly infected with HIV',
       'Adults (ages 15+) living with HIV',
       'Adults (ages 15+) newly infected with HIV',
       'Age at first marriage, female', 'Age at first marriage, male',
       'Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old', 'Age dependency ratio, young',
       'Age population, age 0, female, interpolated',
       'Age population, age 0, male, interpolated',
       'Age population, age 01, female, interpolated',
       'Age population, age 01, male, interpolated',
       'Age population, age 02, female, interpolated',
       'Age population, age 02, male, interpolated',
       'Age population, age 03, female, interpolated',
       'Age population, age 03, male, interpolated',
       'Age population, age 04, female, interpolated',
       'Age population, age 04, male, interpolated',
       'Age population, age 05, female, interpolated',
       'Age population, age 05, male, interpolated',
       'Age population, age 06, female, interpolated',
       'Age population, age 06, male, interpolated',
       'Age population, age 07, female, interpolated',
       'Age population, age 07, male, interpolated',
       'Age population, age 08, female, interpolated',
       'Age population, age 08, male, interpolated',
       'Age population, age 09, female, interpolated',
       'Age population, age 09, male, interpolated',
       'Age population, age 10, female, interpolated',
       'Age population, age 10, male, interpolated',
       'Age population, age 11, female, interpolated',
       'Age population, age 11, male, interpolated',
       'Age population, age 12, female, interpolated',
       'Age population, age 12, male, interpolated',
       'Age population, age 13, female, interpolated',
       'Age population, age 13, male, interpolated',
       'Age population, age 14, female, interpolated',
       'Age population, age 14, male, interpolated',
       'Age population, age 15, female, interpolated',
       'Age population, age 15, male, interpolated',
       'Age population, age 16, female, interpolated',
       'Age population, age 16, male, interpolated',
       'Age population, age 17, female, interpolated',
       'Age population, age 17, male, interpolated',
       'Age population, age 18, female, interpolated',
       'Age population, age 18, male, interpolated',
       'Age population, age 19, female, interpolated',
       'Age population, age 19, male, interpolated',
       'Age population, age 20, female, interpolated',
       'Age population, age 20, male, interpolated',
       'Age population, age 21, female, interpolated',
       'Age population, age 21, male, interpolated',
       'Age population, age 22, female, interpolated',
       'Age population, age 22, male, interpolated',
       'Age population, age 23, female, interpolated',
       'Age population, age 23, male, interpolated',
       'Age population, age 24, female, interpolated',
       'Age population, age 24, male, interpolated',
       'Age population, age 25, female, interpolated',
       'Age population, age 25, male, interpolated',
       'AIDS estimated deaths (UNAIDS estimates)',
       'Antiretroviral therapy coverage (% of people living with HIV)',
       'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)',
       'ARI treatment (% of children under 5 taken to a health provider)',
       'Birth rate, crude (per 1,000 people)',
       'Births attended by skilled health staff (% of total)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Cause of death, by injury (% of total)',
       'Cause of death, by non-communicable diseases (% of total)',
       'Children (0-14) living with HIV',
       'Children (ages 0-14) newly infected with HIV',
       'Children orphaned by HIV/AIDS',
       'Children with fever receiving antimalarial drugs (% of children under age 5 with fever)',
       'Community health workers (per 1,000 people)',
       'Completeness of birth registration (%)',
       'Completeness of birth registration, rural (%)',
       'Completeness of birth registration, urban (%)',
       'Completeness of death registration with cause-of-death information (%)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)',
       'Condom use with non regular partner, % adults(15-49), female',
       'Condom use with non regular partner, % adults(15-49), male',
       'Condom use, population ages 15-24, female (% of females ages 15-24)',
       'Condom use, population ages 15-24, male (% of males ages 15-24)',
       'Consumption of iodized salt (% of households)',
       'Contraceptive prevalence, any methods (% of women ages 15-49)',
       'Contraceptive prevalence, modern methods (% of women ages 15-49)',
       'Death rate, crude (per 1,000 people)',
       'Demand for family planning satisfied by any methods (% of married women with demand for family planning)',
       'Demand for family planning satisfied by modern methods (% of married women with demand for family planning)',
       'Diabetes prevalence (% of population ages 20 to 79)',
       'Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)',
       'Diarrhea treatment (% of children under 5 who received ORS packet)',
       'Exclusive breastfeeding (% of children under 6 months)',
       'External resources for health (% of total expenditure on health)',
       'Female headed households (% of households with a female head)',
       'Female population 00-04', 'Female population 05-09',
       'Female population 10-14', 'Female population 15-19',
       'Female population 20-24', 'Female population 25-29',
       'Female population 30-34', 'Female population 35-39',
       'Female population 40-44', 'Female population 45-49',
       'Female population 50-54', 'Female population 55-59',
       'Female population 60-64', 'Female population 65-69',
       'Female population 70-74', 'Female population 75-79',
       'Female population 80+',
       'Fertility rate, total (births per woman)',
       'GNI per capita, Atlas method (current US$)',
       'Health expenditure per capita (current US$)',
       'Health expenditure per capita, PPP',
       'Health expenditure, private (% of GDP)',
       'Health expenditure, private (% of total health expenditure)',
       'Health expenditure, public (% of GDP)',
       'Health expenditure, public (% of government expenditure)',
       'Health expenditure, public (% of total health expenditure)',
       'Health expenditure, total (% of GDP)',
       'Health expenditure, total (current US$)',
       'Hospital beds (per 1,000 people)',
       'Immunization, BCG (% of one-year-old children)',
       'Immunization, DPT (% of children ages 12-23 months)',
       'Immunization, HepB3 (% of one-year-old children)',
       'Immunization, Hib3 (% of children ages 12-23 months)',
       'Immunization, measles (% of children ages 12-23 months)',
       'Immunization, Pol3 (% of one-year-old children)',
       'Improved sanitation facilities (% of population with access)',
       'Improved sanitation facilities, rural (% of rural population with access)',
       'Improved sanitation facilities, urban (% of urban population with access)',
       'Improved water source (% of population with access)',
       'Improved water source, rural (% of rural population with access)',
       'Improved water source, urban (% of urban population with access)',
       'Incidence of HIV (% of uninfected population ages 15-49)',
       'Incidence of tuberculosis (per 100,000 people)',
       'Infant and young child feeding practices, all 3 IYCF (% children ages 6-23 months)',
       'Labor force, female (% of total labor force)',
       'Labor force, total', 'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Life expectancy at birth, total (years)',
       'Lifetime risk of maternal death (%)',
       'Lifetime risk of maternal death (1 in: rate varies by country)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Literacy rate, adult male (% of males ages 15 and above)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Literacy rate, youth male (% of males ages 15-24)',
       'Literacy rate, youth total (% of people ages 15-24)',
       'Low-birthweight babies (% of births)', 'Malaria cases reported',
       'Male population 00-04', 'Male population 05-09',
       'Male population 10-14', 'Male population 15-19',
       'Male population 20-24', 'Male population 25-29',
       'Male population 30-34', 'Male population 35-39',
       'Male population 40-44', 'Male population 45-49',
       'Male population 50-54', 'Male population 55-59',
       'Male population 60-64', 'Male population 65-69',
       'Male population 70-74', 'Male population 75-79',
       'Male population 80+',
       'Malnutrition prevalence, height for age (% of children under 5)',
       'Malnutrition prevalence, height for age, female (% of children under 5)',
       'Malnutrition prevalence, height for age, male (% of children under 5)',
       'Malnutrition prevalence, weight for age (% of children under 5)',
       'Malnutrition prevalence, weight for age, female (% of children under 5)',
       'Malnutrition prevalence, weight for age, male (% of children under 5)',
       'Maternal leave benefits (% of wages paid in covered period)',
       'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
       'Maternal mortality ratio (national estimate, per 100,000 live births)',
       'Mortality caused by road traffic injury (per 100,000 people)',
       'Mortality rate, adult, female (per 1,000 female adults)',
       'Mortality rate, adult, male (per 1,000 male adults)',
       'Mortality rate, infant (per 1,000 live births)',
       'Mortality rate, infant, female (per 1,000 live births)',
       'Mortality rate, infant, male (per 1,000 live births)',
       'Mortality rate, neonatal (per 1,000 live births)',
       'Mortality rate, under-5 (per 1,000)',
       'Mortality rate, under-5, female (per 1,000)',
       'Mortality rate, under-5, male (per 1,000)', 'Net migration',
       'Newborns protected against tetanus (%)',
       'Number of infant deaths', 'Number of maternal deaths',
       'Number of neonatal deaths',
       'Number of people who are undernourished',
       'Number of surgical procedures (per 100,000 population)',
       'Number of under-five deaths',
       'Number of weeks of maternity leave',
       'Nurses and midwives (per 1,000 people)',
       'Out-of-pocket health expenditure (% of private expenditure on health)',
       'Out-of-pocket health expenditure (% of total expenditure on health)',
       'People practicing open defecation (% of population)',
       'People practicing open defecation, rural (% of rural population)',
       'People practicing open defecation, urban (% of urban population)',
       'Physicians (per 1,000 people)',
       'Population ages 00-04, female (% of female population)',
       'Population ages 00-04, male (% of male population)',
       'Population ages 00-14 (% of total)',
       'Population ages 00-14, female (% of total)',
       'Population ages 00-14, male (% of total)',
       'Population ages 00-14, total', 'Population ages 0-14, female',
       'Population ages 0-14, male',
       'Population ages 05-09, female (% of female population)',
       'Population ages 05-09, male (% of male population)',
       'Population ages 10-14, female (% of female population)',
       'Population ages 15-19, female (% of female population)',
       'Population ages 15-19, male (% of male population)',
       'Population ages 15-64 (% of total)',
       'Population ages 15-64, female',
       'Population ages 15-64, female (% of total)',
       'Population ages 15-64, male',
       'Population ages 15-64, male (% of total)',
       'Population ages 15-64, total',
       'Population ages 20-24, female (% of female population)',
       'Population ages 20-24, male (% of male population)',
       'Population ages 25-29, female (% of female population)',
       'Population ages 25-29, male (% of male population)',
       'Population ages 30-34, female (% of female population)',
       'Population ages 30-34, male (% of male population)',
       'Population ages 35-39, female (% of female population)',
       'Population ages 35-39, male (% of male population)',
       'Population ages 40-44, female (% of female population)',
       'Population ages 40-44, male (% of male population)',
       'Population ages 45-49, female (% of female population)',
       'Population ages 45-49, male (% of male population)',
       'Population ages 50-54, female (% of female population)',
       'Population ages 50-54, male (% of male population)',
       'Population ages 55-59, female (% of female population)',
       'Population ages 55-59, male (% of male population)',
       'Population ages 60-64, female (% of female population)',
       'Population ages 60-64, male (% of male population)',
       'Population ages 65 and above (% of total)',
       'Population ages 65 and above, female',
       'Population ages 65 and above, female (% of total)',
       'Population ages 65 and above, male',
       'Population ages 65 and above, male (% of total)',
       'Population ages 65 and above, total',
       'Population ages 65-69, female (% of female population)',
       'Population ages 65-69, male (% of male population)',
       'Population ages 70-74, female (% of female population)',
       'Population ages 70-74, male (% of male population)',
       'Population ages 75-79, female (% of female population)',
       'Population ages 75-79, male (% of male population)',
       'Population ages 80 and older, female (% of female population)',
       'Population ages 80 and older, male (% of male population)',
       'Population ages10-14, male (% of male population)',
       'Population growth (annual %)', 'Population, female',
       'Population, female (% of total)', 'Population, male',
       'Population, male (% of total)', 'Population, total',
       'Postnatal care coverage (% mothers)',
       'Poverty headcount ratio at national poverty line (% of population)',
       'Pregnant women receiving prenatal care (%)',
       'Pregnant women receiving prenatal care of at least four visits (% of pregnant women)',
       'Prevalence of anemia among children (% of children under 5)',
       'Prevalence of anemia among non-pregnant women (% of women ages 15-49)',
       'Prevalence of anemia among pregnant women (%)',
       'Prevalence of anemia among women of reproductive age (% of women ages 15-49)',
       'Prevalence of HIV, female (% ages 15-24)',
       'Prevalence of HIV, male (% ages 15-24)',
       'Prevalence of HIV, total (% of population ages 15-49)',
       'Prevalence of overweight (% of adults)',
       'Prevalence of overweight (% of children under 5)',
       'Prevalence of overweight, female (% of children under 5)',
       'Prevalence of overweight, female (% of female adults)',
       'Prevalence of overweight, male (% of children under 5)',
       'Prevalence of overweight, male (% of male adults)',
       'Prevalence of severe wasting, weight for height (% of children under 5)',
       'Prevalence of severe wasting, weight for height, female (% of children under 5)',
       'Prevalence of severe wasting, weight for height, male (% of children under 5)',
       'Prevalence of syphilis (% of women attending antenatal care)',
       'Prevalence of tuberculosis (per 100,000 population)',
       'Prevalence of undernourishment (% of population)',
       'Prevalence of wasting (% of children under 5)',
       'Prevalence of wasting, female (% of children under 5)',
       'Prevalence of wasting, male (% of children under 5)',
       'Primary completion rate, female (% of relevant age group)',
       'Primary completion rate, male (% of relevant age group)',
       'Primary completion rate, total (% of relevant age group)',
       'Public spending on education, total (% of GDP)',
       'Ratio of school attendance of orphans to school attendance of non-orphans ages 10-14',
       'Ratio of young literate females to males (% ages 15-24)',
       'Risk of catastrophic expenditure for surgical care (% of people at risk)',
       'Risk of impoverishing expenditure for surgical care (% of people at risk)',
       'Rural population', 'Rural population (% of total population)',
       'Rural population growth (annual %)',
       'Rural poverty headcount ratio at national poverty lines (% of rural population)',
       'School enrollment, primary (% gross)',
       'School enrollment, primary (% net)',
       'School enrollment, primary, female (% gross)',
       'School enrollment, primary, female (% net)',
       'School enrollment, primary, male (% gross)',
       'School enrollment, primary, male (% net)',
       'School enrollment, secondary (% gross)',
       'School enrollment, secondary (% net)',
       'School enrollment, secondary, female (% gross)',
       'School enrollment, secondary, female (% net)',
       'School enrollment, secondary, male (% gross)',
       'School enrollment, secondary, male (% net)',
       'School enrollment, tertiary (% gross)',
       'School enrollment, tertiary, female (% gross)',
       'Sex ratio at birth (male births per female births)',
       'Share of women employed in the nonagricultural sector (% of total nonagricultural employment)',
       'Smoking prevalence, females (% of adults)',
       'Smoking prevalence, males (% of adults)',
       'Specialist surgical workforce (per 100,000 population)',
       'Survival to age 65, female (% of cohort)',
       'Survival to age 65, male (% of cohort)',
       'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)',
       'Tuberculosis case detection rate (all forms)',
       'Tuberculosis death rate (per 100,000 people)',
       'Tuberculosis treatment success rate (% of new cases)',
       'Unemployment, female (% of female labor force)',
       'Unemployment, male (% of male labor force)',
       'Unemployment, total (% of total labor force)',
       'Unmet need for contraception (% of married women ages 15-49)',
       'Urban population', 'Urban population (% of total)',
       'Urban population growth (annual %)',
       'Urban poverty headcount ratio at national poverty lines (% of urban population)',
       'Use of any antimalarial drug (% of pregnant women)',
       'Use of insecticide-treated bed nets (% of under-5 population)',
       'Use of Intermittent Preventive Treatment of malaria, 2+ doses of SP/Fansidar (% of pregnant women)',
       'Vitamin A supplementation coverage rate (% of children ages 6-59 months)',
       'Wanted fertility rate (births per woman)',
       "Women's share of population ages 15+ living with HIV (%)"],
      dtype=object)

In [123]:
df_japan = df_data[df_data['Country Name'].str.contains("Japan")]
df_japan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 345 entries, 47610 to 47954
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    345 non-null    object
 1   Country Code    345 non-null    object
 2   Indicator Name  345 non-null    object
 3   Indicator Code  345 non-null    object
 4   1960            170 non-null    float64
 5   1961            169 non-null    float64
 6   1962            172 non-null    float64
 7   1963            170 non-null    float64
 8   1964            170 non-null    float64
 9   1965            170 non-null    float64
 10  1966            170 non-null    float64
 11  1967            172 non-null    float64
 12  1968            170 non-null    float64
 13  1969            170 non-null    float64
 14  1970            173 non-null    float64
 15  1971            184 non-null    float64
 16  1972            187 non-null    float64
 17  1973            186 non-null    float64
 18  1974            185 non-null    float64
 19  1975            188 non-null    float64
 20  1976            183 non-null    float64
 21  1977            186 non-null    float64
 22  1978            186 non-null    float64
 23  1979            184 non-null    float64
 24  1980            192 non-null    float64
 25  1981            186 non-null    float64
 26  1982            191 non-null    float64
 27  1983            188 non-null    float64
 28  1984            189 non-null    float64
 29  1985            189 non-null    float64
 30  1986            187 non-null    float64
 31  1987            189 non-null    float64
 32  1988            188 non-null    float64
 33  1989            187 non-null    float64
 34  1990            220 non-null    float64
 35  1991            211 non-null    float64
 36  1992            218 non-null    float64
 37  1993            207 non-null    float64
 38  1994            218 non-null    float64
 39  1995            226 non-null    float64
 40  1996            222 non-null    float64
 41  1997            221 non-null    float64
 42  1998            231 non-null    float64
 43  1999            228 non-null    float64
 44  2000            243 non-null    float64
 45  2001            228 non-null    float64
 46  2002            233 non-null    float64
 47  2003            228 non-null    float64
 48  2004            233 non-null    float64
 49  2005            234 non-null    float64
 50  2006            232 non-null    float64
 51  2007            232 non-null    float64
 52  2008            231 non-null    float64
 53  2009            233 non-null    float64
 54  2010            262 non-null    float64
 55  2011            237 non-null    float64
 56  2012            239 non-null    float64
 57  2013            229 non-null    float64
 58  2014            213 non-null    float64
 59  2015            185 non-null    float64
 60  Unnamed: 60     0 non-null      float64
dtypes: float64(57), object(4)
memory usage: 167.1+ KB

In [121]:
df_canada = df_data[df_data['Country Name'].str.contains("Canada")]
df_canada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 345 entries, 26220 to 26564
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    345 non-null    object
 1   Country Code    345 non-null    object
 2   Indicator Name  345 non-null    object
 3   Indicator Code  345 non-null    object
 4   1960            169 non-null    float64
 5   1961            169 non-null    float64
 6   1962            172 non-null    float64
 7   1963            170 non-null    float64
 8   1964            170 non-null    float64
 9   1965            170 non-null    float64
 10  1966            170 non-null    float64
 11  1967            172 non-null    float64
 12  1968            170 non-null    float64
 13  1969            170 non-null    float64
 14  1970            171 non-null    float64
 15  1971            194 non-null    float64
 16  1972            179 non-null    float64
 17  1973            177 non-null    float64
 18  1974            177 non-null    float64
 19  1975            177 non-null    float64
 20  1976            182 non-null    float64
 21  1977            182 non-null    float64
 22  1978            178 non-null    float64
 23  1979            180 non-null    float64
 24  1980            180 non-null    float64
 25  1981            180 non-null    float64
 26  1982            185 non-null    float64
 27  1983            183 non-null    float64
 28  1984            184 non-null    float64
 29  1985            183 non-null    float64
 30  1986            184 non-null    float64
 31  1987            189 non-null    float64
 32  1988            186 non-null    float64
 33  1989            188 non-null    float64
 34  1990            214 non-null    float64
 35  1991            212 non-null    float64
 36  1992            215 non-null    float64
 37  1993            212 non-null    float64
 38  1994            214 non-null    float64
 39  1995            229 non-null    float64
 40  1996            226 non-null    float64
 41  1997            219 non-null    float64
 42  1998            234 non-null    float64
 43  1999            231 non-null    float64
 44  2000            239 non-null    float64
 45  2001            219 non-null    float64
 46  2002            223 non-null    float64
 47  2003            218 non-null    float64
 48  2004            221 non-null    float64
 49  2005            224 non-null    float64
 50  2006            227 non-null    float64
 51  2007            226 non-null    float64
 52  2008            225 non-null    float64
 53  2009            225 non-null    float64
 54  2010            234 non-null    float64
 55  2011            229 non-null    float64
 56  2012            223 non-null    float64
 57  2013            219 non-null    float64
 58  2014            210 non-null    float64
 59  2015            183 non-null    float64
 60  Unnamed: 60     0 non-null      float64
dtypes: float64(57), object(4)
memory usage: 167.1+ KB

In [119]:
df_cyprus = df_data[df_data['Country Name'].str.contains("Cyprus")]
df_cyprus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 345 entries, 31740 to 32084
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    345 non-null    object
 1   Country Code    345 non-null    object
 2   Indicator Name  345 non-null    object
 3   Indicator Code  345 non-null    object
 4   1960            166 non-null    float64
 5   1961            164 non-null    float64
 6   1962            166 non-null    float64
 7   1963            164 non-null    float64
 8   1964            164 non-null    float64
 9   1965            164 non-null    float64
 10  1966            164 non-null    float64
 11  1967            166 non-null    float64
 12  1968            164 non-null    float64
 13  1969            164 non-null    float64
 14  1970            166 non-null    float64
 15  1971            181 non-null    float64
 16  1972            183 non-null    float64
 17  1973            183 non-null    float64
 18  1974            181 non-null    float64
 19  1975            180 non-null    float64
 20  1976            182 non-null    float64
 21  1977            183 non-null    float64
 22  1978            183 non-null    float64
 23  1979            187 non-null    float64
 24  1980            192 non-null    float64
 25  1981            192 non-null    float64
 26  1982            192 non-null    float64
 27  1983            189 non-null    float64
 28  1984            187 non-null    float64
 29  1985            187 non-null    float64
 30  1986            189 non-null    float64
 31  1987            191 non-null    float64
 32  1988            187 non-null    float64
 33  1989            189 non-null    float64
 34  1990            216 non-null    float64
 35  1991            212 non-null    float64
 36  1992            222 non-null    float64
 37  1993            213 non-null    float64
 38  1994            215 non-null    float64
 39  1995            234 non-null    float64
 40  1996            231 non-null    float64
 41  1997            233 non-null    float64
 42  1998            214 non-null    float64
 43  1999            232 non-null    float64
 44  2000            241 non-null    float64
 45  2001            242 non-null    float64
 46  2002            240 non-null    float64
 47  2003            235 non-null    float64
 48  2004            234 non-null    float64
 49  2005            235 non-null    float64
 50  2006            236 non-null    float64
 51  2007            238 non-null    float64
 52  2008            237 non-null    float64
 53  2009            236 non-null    float64
 54  2010            246 non-null    float64
 55  2011            246 non-null    float64
 56  2012            235 non-null    float64
 57  2013            230 non-null    float64
 58  2014            234 non-null    float64
 59  2015            191 non-null    float64
 60  Unnamed: 60     0 non-null      float64
dtypes: float64(57), object(4)
memory usage: 167.1+ KB

In [81]:
df_eas.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
31742,Cyprus,CYP,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,31.066600,28.404800,25.743000,24.699600,23.656200,22.612800,...,6.552000,6.336200,6.120400,5.904600,5.688800,5.473000,5.279400,5.085800,NaN,NaN
31749,Cyprus,CYP,Age dependency ratio (% of working-age populat...,SP.POP.DPND,74.249009,74.497000,73.915308,72.545554,70.777699,68.982708,...,43.114474,42.519892,41.974466,41.515676,41.430231,41.361488,41.361446,41.455412,41.635967,NaN
31750,Cyprus,CYP,"Age dependency ratio, old",SP.POP.DPND.OL,10.286528,10.653976,10.973965,11.111775,11.060445,10.949521,...,15.731633,15.893004,16.103015,16.370113,16.667743,17.000260,17.367746,17.766377,18.193774,NaN
31751,Cyprus,CYP,"Age dependency ratio, young",SP.POP.DPND.YG,63.962482,63.843024,62.941343,61.433779,59.717254,58.033187,...,27.382840,26.626889,25.871452,25.145563,24.762487,24.361228,23.993700,23.689034,23.442193,NaN
31752,Cyprus,CYP,"Age population, age 0, female, interpolated",SP.POP.AG00.FE.IN,8240.000000,8317.000000,8161.000000,7848.000000,7484.000000,7147.000000,...,5966.000000,6150.000000,6313.000000,6421.000000,6465.000000,6455.000000,6405.000000,6336.000000,6269.000000,NaN

In [78]:
df_eas = df_eas.dropna(subset=['1960'])

Fertility Rate, total(births per woman) SP.DYN.TFRT.IN
Age dependency ratio SP.POP.DPND
Life expectancy at birth (years) SP.DYN.LE00.IN
Death rate, crude SP.DYN.CDRT.IN
Mortality rate, adult, female SP.DYN.AMRT.FE
Survival to age 65, male SP.DYN.TO65.MA.ZS	
Urban pop SP.URB.TOTL.IN.ZS
population, male SP.POP.TOTL.MA.IN	
population female % SP.POP.TOTL.FE.ZS
Rural pop SP.RUR.TOTL

In [79]:
df_eas

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
31742,Cyprus,CYP,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,31.066600,28.404800,25.743000,24.699600,23.656200,22.612800,...,6.552000,6.336200,6.120400,5.904600,5.688800,5.473000,5.279400,5.085800,NaN,NaN
31749,Cyprus,CYP,Age dependency ratio (% of working-age populat...,SP.POP.DPND,74.249009,74.497000,73.915308,72.545554,70.777699,68.982708,...,43.114474,42.519892,41.974466,41.515676,41.430231,41.361488,41.361446,41.455412,41.635967,NaN
31750,Cyprus,CYP,"Age dependency ratio, old",SP.POP.DPND.OL,10.286528,10.653976,10.973965,11.111775,11.060445,10.949521,...,15.731633,15.893004,16.103015,16.370113,16.667743,17.000260,17.367746,17.766377,18.193774,NaN
31751,Cyprus,CYP,"Age dependency ratio, young",SP.POP.DPND.YG,63.962482,63.843024,62.941343,61.433779,59.717254,58.033187,...,27.382840,26.626889,25.871452,25.145563,24.762487,24.361228,23.993700,23.689034,23.442193,NaN
31752,Cyprus,CYP,"Age population, age 0, female, interpolated",SP.POP.AG00.FE.IN,8240.000000,8317.000000,8161.000000,7848.000000,7484.000000,7147.000000,...,5966.000000,6150.000000,6313.000000,6421.000000,6465.000000,6455.000000,6405.000000,6336.000000,6269.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32065,Cyprus,CYP,"Survival to age 65, female (% of cohort)",SP.DYN.TO65.FE.ZS,80.138830,80.611760,81.084680,81.490640,81.896590,82.302550,...,92.280450,92.484120,92.687790,92.891460,93.095130,93.298800,93.396650,93.494510,NaN,NaN
32066,Cyprus,CYP,"Survival to age 65, male (% of cohort)",SP.DYN.TO65.MA.ZS,70.972540,71.488920,72.005300,72.465160,72.925030,73.384890,...,86.109610,86.360370,86.611120,86.861880,87.112630,87.363390,87.632180,87.900970,NaN,NaN
32075,Cyprus,CYP,Urban population,SP.URB.TOTL,204123.000000,208511.000000,211862.000000,214845.000000,218033.000000,221861.000000,...,722676.000000,730633.000000,738204.000000,745550.000000,752685.000000,759580.000000,766425.000000,773170.000000,779830.000000,NaN
32076,Cyprus,CYP,Urban population (% of total),SP.URB.TOTL.IN.ZS,35.628000,36.175000,36.674000,37.176000,37.681000,38.188000,...,67.982000,67.839000,67.695000,67.551000,67.406000,67.261000,67.133000,67.019000,66.921000,NaN
32077,Cyprus,CYP,Urban population growth (annual %),SP.URB.GROW,2.765661,2.126904,1.594332,1.398172,1.472959,1.740463,...,1.186796,1.095029,1.030893,0.990199,0.952461,0.911884,0.897120,0.876210,0.857700,NaN

In [80]:
df_eas.sample(70)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
32043,Cyprus,CYP,Rural population (% of total population),SP.RUR.TOTL.ZS,64.372000,63.825000,63.326000,62.824000,62.319000,61.812000,...,32.018000,32.161000,32.305000,32.449000,32.594000,32.739000,32.867000,32.981000,33.079000,NaN
31760,Cyprus,CYP,"Age population, age 04, female, interpolated",SP.POP.AG04.FE.IN,6774.000000,6849.000000,6909.000000,6918.000000,6832.000000,6585.000000,...,6026.000000,5911.000000,5866.000000,5918.000000,5993.000000,6106.000000,6231.000000,6332.000000,6363.000000,NaN
31787,Cyprus,CYP,"Age population, age 17, male, interpolated",SP.POP.AG17.MA.IN,4380.000000,4815.000000,5322.000000,5678.000000,5945.000000,6050.000000,...,8509.000000,8749.000000,8883.000000,8871.000000,8862.000000,8693.000000,8436.000000,8060.000000,7670.000000,NaN
31986,Cyprus,CYP,"Population ages 60-64, male (% of male populat...",SP.POP.6064.MA.5Y,3.329168,3.212053,3.118493,3.141356,3.284029,3.471557,...,4.183481,4.299215,4.406439,4.503407,4.596187,4.690380,4.787591,4.890630,4.999731,NaN
31958,Cyprus,CYP,"Population ages 05-09, female (% of female pop...",SP.POP.0509.FE.5Y,11.387147,11.243585,11.176787,11.147899,11.090034,10.923293,...,6.175548,5.951195,5.749212,5.588908,5.477271,5.406408,5.381619,5.388374,5.399714,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31868,Cyprus,CYP,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,4.523560,NaN,NaN,NaN,NaN,NaN,...,NaN,3.800000,NaN,3.520000,3.500000,NaN,NaN,NaN,NaN,NaN
31912,Cyprus,CYP,Male population 70-74,SP.POP.7074.MA,5629.000000,5368.000000,5184.000000,5248.000000,5553.000000,5900.000000,...,13949.000000,14540.000000,15157.000000,15739.000000,16098.000000,16400.000000,16732.000000,17184.000000,17784.000000,NaN
31925,Cyprus,CYP,"Mortality rate, adult, female (per 1,000 femal...",SP.DYN.AMRT.FE,98.653000,96.828000,95.003000,93.338000,91.672000,90.007000,...,41.688000,40.495000,39.302000,38.109000,36.915000,35.722000,35.237000,34.753000,NaN,NaN
31981,Cyprus,CYP,"Population ages 50-54, female (% of female pop...",SP.POP.5054.FE.5Y,5.232313,5.024637,4.774593,4.677392,4.776384,4.935205,...,6.171917,6.289000,6.372488,6.402076,6.404303,6.371392,6.318284,6.268498,6.235897,NaN
31799,Cyprus,CYP,"Age population, age 23, male, interpolated",SP.POP.AG23.MA.IN,4507.000000,4500.000000,4341.000000,4222.000000,4243.000000,4390.000000,...,10860.000000,10502.000000,10327.000000,10282.000000,9985.000000,9869.000000,9989.000000,10215.000000,10615.000000,NaN

In [125]:
df_countries = pd.concat([df_canada, df_cyprus, df_france, df_japan])
df_countries

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
26220,Canada,CAN,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26221,Canada,CAN,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26222,Canada,CAN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,55.6166,54.8488,54.081,52.2786,50.4762,48.6738,...,13.94,13.4188,12.8976,12.3764,11.8552,11.334,10.7086,10.0832,NaN,NaN
26223,Canada,CAN,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26224,Canada,CAN,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47950,Japan,JPN,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47951,Japan,JPN,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47952,Japan,JPN,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47953,Japan,JPN,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47954,Japan,JPN,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN