In [1]:
import pandas as pd
df = pd.read_csv('../data/data.csv')
df.dropna(axis = 1, how = 'all', inplace = True);

In [2]:
years = ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015']

In [3]:
# Drop all rows where all 55 year columns are null
df = df.dropna(axis=0, thresh=55, subset=years)
df.shape

(35007, 60)

In [4]:
df.isnull().sum()

Country Name         0
Country Code         0
Indicator Name       0
Indicator Code       0
1960               134
1961                 0
1962                 0
1963                 0
1964                 0
1965                 0
1966                 0
1967                 0
1968                 0
1969                 0
1970                 0
1971                 0
1972                 0
1973                 0
1974                 0
1975                 0
1976                 0
1977                 0
1978                 0
1979                 0
1980                 0
1981                 0
1982                 0
1983                 0
1984                 0
1985                 0
1986                 0
1987                 0
1988                 0
1989                 0
1990                 0
1991                 1
1992                 0
1993                 0
1994                 0
1995                 0
1996                 0
1997                 0
1998                 0
1999                 0
2000                 0
2001                 1
2002                 0
2003                 0
2004                 0
2005                 0
2006                 0
2007                 1
2008                 0
2009                 0
2010                 0
2011                 1
2012                 0
2013                 0
2014                 0
2015              2476
dtype: int64

In [5]:
# Create population_df containing all rows for population age data
population_df = df[df['Indicator Name'].str.contains("Age population, age")]
population_df.shape

(9932, 60)

In [21]:
non_pop_df = df[~df['Indicator Name'].str.contains("population")]
non_pop_df = non_pop_df[~non_pop_df['Indicator Name'].str.contains("Population")]
non_pop_non_death_df = non_pop_df[~non_pop_df['Indicator Name'].str.contains("Death")]
non_pop_non_death_df = non_pop_non_death_df[~non_pop_non_death_df['Indicator Name'].str.contains("death")]
non_pop_non_death_df.sample(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
4977,High income,HIC,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,65.766125,66.120284,66.056373,66.203146,66.562973,66.645209,...,76.226236,76.476743,76.674293,76.976755,77.199292,77.486414,77.649986,77.889064,78.044168,NaN
61212,Namibia,NAM,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,44.756000,45.387000,46.005000,46.609000,47.203000,47.785000,...,54.820000,56.153000,57.467000,58.677000,59.712000,60.544000,61.207000,61.739000,62.148000,NaN
74366,Solomon Islands,SLB,"Mortality rate, under-5 (per 1,000)",SH.DYN.MORT,195.900000,185.600000,175.900000,166.700000,157.900000,149.700000,...,33.400000,33.300000,33.100000,32.600000,32.100000,31.400000,30.700000,29.900000,28.900000,28.1